**/venv**
**/.venv**
**/*.log
**/__pychache__
**/*.sqlite
**/*.db
**/*.dist-info
**/.idea
**/*.xml

**/.coverage
companies_template.yml
integrations_template.yml
install.sh
uninstall.sh
restart.sh
README.md
Dockerfile
DockerfileAllInOne
.gitattributes
.gitignore
.git
CHANGELOG.md
img
Pipfile
Pipfile.lock
*.png
**/debug
.ruff_cache
CHANGELOG.md
**/companies.yml
**/integrations.yml
tests
pytest.ini
Makefile
.dockerignore
.python-version
.pylintrc
.integration-name
*.tar
**/.rule_id_file.json
**/.last_register_file.json
config
applib/tui
requirements-test.txt